.no-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.no-page h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
  color: #383e4c;
  text-shadow: 2px 2px #f1f1f1;
}

.no-page p {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #383e4c;
  text-shadow: 2px 2px #f1f1f1;
}

.no-page a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #383e4c;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 2px 2px #f1f1f1;
  transition: all 0.2s ease-in-out;
}

.no-page a:hover {
  background-color: #fff;
  color: #383e4c;
  box-shadow: 4px 4px #f1f1f1;
}
